In [1]:
import numpy as np 
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('one_hot_encoding.csv')

In [3]:
dummies=pd.get_dummies(df.town)
dummies

    monroe township  robinsville  west windsor
0                 1            0             0
1                 1            0             0
2                 1            0             0
3                 1            0             0
4                 1            0             0
5                 0            0             1
6                 0            0             1
7                 0            0             1
8                 0            0             1
9                 0            1             0
10                0            1             0
11                0            1             0
12                0            1             0

In [25]:
merged = pd.concat([df,dummies], axis='columns')
merged

    town  area   price  monroe township  robinsville  west windsor
0      0  2600  550000                1            0             0
1      0  3000  565000                1            0             0
2      0  3200  610000                1            0             0
3      0  3600  680000                1            0             0
4      0  4000  725000                1            0             0
5      2  2600  585000                0            0             1
6      2  2800  615000                0            0             1
7      2  3300  650000                0            0             1
8      2  3600  710000                0            0             1
9      1  2600  575000                0            1             0
10     1  2900  600000                0            1             0
11     1  3100  620000                0            1             0
12     1  3600  695000                0            1             0

In [5]:
#multi variable colinearity leads to dummy variable trap 
#to avoid, we drop one variable
final=merged.drop(['town','west windsor'],axis='columns')
final

    area   price  monroe township  robinsville
0   2600  550000                1            0
1   3000  565000                1            0
2   3200  610000                1            0
3   3600  680000                1            0
4   4000  725000                1            0
5   2600  585000                0            0
6   2800  615000                0            0
7   3300  650000                0            0
8   3600  710000                0            0
9   2600  575000                0            1
10  2900  600000                0            1
11  3100  620000                0            1
12  3600  695000                0            1

In [6]:
from sklearn .linear_model import LinearRegression
model = LinearRegression()

In [7]:
x= final.drop(['price'],axis='columns')

In [8]:
y=final.price
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [9]:
model.fit(x,y)

LinearRegression()

In [26]:
model.predict([[2800,0,1]]) 
# robinsville

C:\Users\subra\anaconda3\envs\price-prediction\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([590775.63964739])

In [27]:
model.predict([[3100,0,0]])
# west windsor

C:\Users\subra\anaconda3\envs\price-prediction\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([643172.43603526])

In [12]:
#compares predicted values with actual values
model.score(x,y)

0.9573929037221872

USING sklearn

In [28]:
# Method 2 
from sklearn.preprocessing import LabelEncoder
lE=LabelEncoder()

In [16]:
dflE = df
# encoding the town to numbers using labelEncoder
dflE.town = lE.fit_transform(dflE.town)
dflE

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [20]:
x =dflE[['town', 'area']].values
x

array([[   0, 2600],
       [   0, 3000],
       [   0, 3200],
       [   0, 3600],
       [   0, 4000],
       [   2, 2600],
       [   2, 2800],
       [   2, 3300],
       [   2, 3600],
       [   1, 2600],
       [   1, 2900],
       [   1, 3100],
       [   1, 3600]], dtype=int64)

In [23]:
y = dflE.price
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [29]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct= ColumnTransformer ([('town', OneHotEncoder(),[0])], remainder='passthrough')

ImportError: cannot import name 'ColumnTranformer' from 'sklearn.compose' (C:\Users\subra\anaconda3\envs\price-prediction\lib\site-packages\sklearn\compose\__init__.py)

In [30]:
ct

NameError: name 'ct' is not defined

In [31]:
x=ct.fit_transform(x)
x

NameError: name 'ct' is not defined

In [32]:
x = x[:,1:]
x

array([[2600],
       [3000],
       [3200],
       [3600],
       [4000],
       [2600],
       [2800],
       [3300],
       [3600],
       [2600],
       [2900],
       [3100],
       [3600]], dtype=int64)

In [33]:
model.fit(x,y)

LinearRegression()

In [34]:
model.predict([[0,1,3400]]) #west windsor

ValueError: X has 3 features, but LinearRegression is expecting 1 features as input.

In [ ]:
model.predict([[1,0,2800]]) # robbinsville